<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="theme-color" content="#5eb9d7" />
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
    {% block css %}{% endblock %}
</head>

<body>
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
</body>

</html>